<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.subscriptionforme">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".collection.ChildActivity" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home.Activity.AddSubscriptionActivity" />
        <activity android:name=".home.Activity.ManagementSusbscriptionActivity" />

        <activity android:name=".recommendation.DetailRecommendationActivity" />
        <activity android:name=".recommendation.detail_recommendation.Detail_11st" />
        <activity android:name=".recommendation.detail_recommendation.Detail_BurgerKing" />
        <activity android:name=".recommendation.detail_recommendation.Detail_CoffeePlease" />
        <activity android:name=".recommendation.detail_recommendation.Detail_Coupang" />
        <activity android:name=".recommendation.detail_recommendation.Detail_GS25" />
        <activity android:name=".recommendation.detail_recommendation.Detail_Naver" />

        <!--   설정 액티비티 추가     -->
        <activity android:name=".setting.SettingActivity"/>
        <!--   계좌 선택 엑티비티 추가    -->
        <activity android:name=".setting.card.CardActivity"/>
        <!--   약관 확인 엑티비티 추가     -->
        <activity android:name=".setting.card.AgreementActivity"/>
        <!--   계좌 비밀번호 엑티비티 추가     -->
        <activity android:name=".setting.card.AccountPasswordActivity"/>
        <!--   계좌 얻는 엑티비티 추가     -->
        <activity android:name=".setting.card.AccountGetDataActivity"/>
        <!--    CSV 추출하기    -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.subscriptionforme.setting.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>


</manifest>